body {
	margin: 0px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	background: #00000010;
}
#c {
	display: block;
	height: 70%;
	width: 70%;
	margin: 0px;
	padding: 0px;
	background: none;
	cursor: grab;
}
#settings {
	position: fixed;
	bottom: calc(0.8em + 20px);
	height: 20%;
	margin: 0px;
	margin-left: 20px;
	opacity: 0.5;
}
#tabs {
	display: block;
	height: 70vh;
	background: #FFFFFF;
	border-left: solid #00000044 1px;
}
#menu {
	position: fixed;
	bottom: 0;
	left: 0;
	display: block;
	background: #22b2d7;
	padding: 10px;
	font-size: 0.8em;
	width: 100vw;
	color: #FFFFFF;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading .progress {
    margin: 1.5em;
    border: 1px solid #FFFFFF;
	border: none;
	padding-left: 42%;
    width: 50vw;
}
#loading .progressbar {
    margin: 2px;
    background: #FFFFFF;
    height: 1em;
    transform-origin: top left;
    transform: scaleX(0);
}
#newlink {
	color: #22b2d7;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	display: none;
	background: #FFFFFF;
}
#newlinkbtn {
	max-width: fit-content;
	cursor: pointer;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background: #22b2d7;
	color: #FFFFFF;
}
#newplinkbtn {
	max-width: fit-content;
	cursor: pointer;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background: #22b2d7;
	color: #FFFFFF;
}
#imageupload {
	max-width: fit-content;
	margin: auto;
	margin-top: 30vh;
}
#connection {
	max-width: fit-content;
	margin: auto;
	margin-top: 30vh;
}
#fileupload {
	max-width: fit-content;
}
#newplink {
	color: #22b2d7;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	display: none;
	background: #FFFFFF;
}
#contentfile {
	max-width: fit-content;
	cursor: pointer;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background: #22b2d7;
	color: #FFFFFF;
}
#newfile {
	color: #22b2d7;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	background: #EFEFEF;
	display: block;
}
.close {
	float: right;
	cursor: pointer;
}
#create {
	cursor: pointer;
	font-size: 42px;
	position: fixed;
	margin: 1%;
	padding: 3vw;
	padding-left: 2vw;
	padding-right: 2vw;
	bottom: 0;
	right: 0;
	color: #22b2d7;
}
#positionbox{
	border: solid #00000044 1px;
	border-radius: 5px;
	margin: 0;
	width: 27vw;
	padding: 10px;
}
#createposition {
	text-align: center;
	font-size: 12px;
	display: block;
	cursor: pointer;
	margin: 1vw;
	padding: 10px;
	background: #00000010;
	border-radius: 5px;
}
button {
	cursor: pointer;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	background: #22b2d7;
	color: #FFFFFF;
	font-size: 20px;
}
#projectname {
	margin-top: 10px;
	padding: 6px;
	border-radius: 5px;
	border: solid #00000044 1px;
	width: 40vw;
}
#projectindex {
	margin-top: 10px;
	border-radius: 5px;
	border: solid #00000044 1px;
	width: 30vw;
	height: 25px;
}

#picklink {
	margin-top: 10px;
	padding: 5px;
	width: inherit;
	border-radius: 5px;
	border: solid #00000044 1px;
}

input {
	margin-top: 10px;
	padding: 10px;
	width: 50vw;
	border-radius: 5px;
	border: solid #00000044 1px;
}
#tabs {
	margin: 0px;
	height: 100vh;
	width: 30vw;
}
#tabheader {
	margin: 0px;
	display: flex;
	width: 30vw;
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflowstyle: none;
	font-size: 0.8em;
	background: #22b2d7;
}
.tabhead {
	color: #FFFFFF;
	font-size: 12px;
	cursor: pointer;
	padding: 10px;
	background: #22b2d7;
	max-width: 10vw;
	min-width: 3vw;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-top: 1px solid #22b2d7;
	border-left: 1px solid #22b2d7;
	border-right: 1px solid #FFFFFF44;
	border-top-right-radius: 8px;
}
#linkdata {
	display: none;
	padding: 1vw;
}
#linkdataname {
	width: 27vw;
}
#linkdatalink {
	width: 27vw;
}
#positions {
	display: block;
	overflow-y: auto;
	padding: 1vw;
	padding-bottom: 0px;
	padding-top: 0px;
}
.plink input {
	margin-top: 1px;
	padding: 5px;
	width: 50px;
	font-size: 0.8em;
}
.plink {
	background: #FFFFFF;
	font-size: 12px;
	margin-bottom: 1vw;
}
.pl_edit {
	background: #FFFFFF;
	cursor: pointer;
}
.pl_edit:hover {
	background: #22b2d7;
}
.dpl {
	cursor: pointer;
	margin: 5px;
	float: right;
}
#errora {
	color: #FF0000;
	font-size: 12px;
}
#errorb {
	color: #FF0000;
	font-size: 12px;
}
#intro {
	padding: 3vw;
}
.bmoption{
	padding: 10px;
	cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.bmoption:hover {
	background: #00000044;
}
details {
	border: 1px solid #00000044;
	border-radius: 5px;
	padding: 0px;
}
summary {
	list-style-type: '🔗 ';
	border-radius: 5px;
	margin: 0px;
	padding: 10px;
}
details[open] {
	padding: 0px;
}
details[open] summary {
	list-style-type: '🔗 ';
	border: 1px solid #00000044;
	color: #FFFFFF;
}
.pld {
	padding: 20px;
}

#fuflex {
	display: flex;
	margin: 25px;
	border-radius: 15px;
	background: #FFFFFF;
}

#recent {
	width: 50%;
	padding: 25px;
}

#recentfiles {
	margin-top: 10px;
}

#templates {
	width: 50%;
	padding: 25px;
	display: flex;
	flex-wrap: wrap;
}

.temptab{
	width: 10vw;
	height: 8vw;
	line-height: 15vw;
	background-color: #000000;
	background-size: cover;
	background-repeat: no-repeat;
	border: 5px solid #FFFFFF;
	border-radius: 15px;
	margin: 10px;
	padding: 15px;
	cursor: pointer;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	color: #FFFFFF;
	font-size: 14px;
	opacity: 0.9;
}
.temptab:hover {
	border: 5px solid #22b2d7;
	opacity: 1;
}
#feedback {
	color: #FFFFFF;
	float: right;
	cursor: pointer;
	margin-right: 25px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#feedback:hover {
	color: #00000044;
}
.rplitems {
	font-size: 12px;
	display: flex;
	cursor: pointer;
	border-radius: 5px;
	color: #00000088;
}
.rplitems:hover {
	background: #00000011;
}
.dbtn {
	float:right;
	padding:10px;
	border-radius: 5px;
	color: #00000044;
}

.dbtn:hover {
	background: #00000044;
	color: white;
}