body {
	margin: 0px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	background: #00000010;
}
#c {
	display: block;
	height: 70%;
	width: 70%;
	margin: 0px;
	padding: 0px;
	background: none;
	cursor: grab;
}
#tabs {
	display: block;
	height: 70vh;
	background: #FFFFFF;
	border-left: solid #00000044 1px;
}
#menu {
	position: fixed;
	bottom: 0;
	left: 0;
	display: block;
	background: #22b2d7;
	padding: 10px;
	font-size: 0.8em;
	width: 100vw;
	color: #FFFFFF;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading .progress {
    margin: 1.5em;
    border: 1px solid #FFFFFF;
    width: 50vw;
}
#loading .progressbar {
    margin: 2px;
    background: #FFFFFF;
    height: 1em;
    transform-origin: top left;
    transform: scaleX(0);
}
#newlink {
	color: #22b2d7;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	display: none;
	background: #FFFFFF;
}
#newlinkbtn {
	max-width: fit-content;
	cursor: pointer;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background: #22b2d7;
	color: #FFFFFF;
}
#newplinkbtn {
	max-width: fit-content;
	cursor: pointer;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background: #22b2d7;
	color: #FFFFFF;
}
#imageupload {
	max-width: fit-content;
	margin: auto;
	margin-top: 30vh;
}
#connection {
	max-width: fit-content;
	margin: auto;
	margin-top: 30vh;
}
#newplink {
	color: #22b2d7;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	display: none;
	background: #FFFFFF;
}
.close {
	float: right;
	cursor: pointer;
}
#create {
	cursor: pointer;
	font-size: 42px;
	position: fixed;
	margin: 1%;
	padding: 3vw;
	padding-left: 2vw;
	padding-right: 2vw;
	bottom: 0;
	right: 0;
	color: #22b2d7;
}
#positionbox{
	border: solid #00000044 1px;
	border-radius: 5px;
	margin: 0;
	width: 27vw;
	padding: 10px;
}
#createposition {
	text-align: center;
	font-size: 12px;
	display: block;
	cursor: pointer;
	margin: 1%;
	padding: 10px;
	background: #00000010;
	border-radius: 5px;
}
button {
	cursor: pointer;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	background: #22b2d7;
	color: #FFFFFF;
	font-size: 20px;
}
input {
	margin-top: 10px;
	padding: 10px;
	width: 50vw;
	border-radius: 5px;
	border: solid #00000044 1px;
}
#picklink {
	margin-top: 10px;
	padding: 10px;
	width: 50vw;
	border-radius: 5px;
	border: solid #00000044 1px;
}
#tabs {
	margin: 0px;
	height: 100vh;
	width: 30vw;
}
#tabheader {
	margin: 0px;
	display: flex;
	width: 30vw;
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflowstyle: none;
	font-size: 0.8em;
	background: #22b2d7;
}
.tabhead {
	color: #FFFFFF;
	font-size: 12px;
	cursor: pointer;
	padding: 10px;
	background: #22b2d7;
	max-width: 10vw;
	min-width: 3vw;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-top: 1px solid #22b2d7;
	border-left: 1px solid #22b2d7;
	border-right: 1px solid #FFFFFF44;
	border-top-right-radius: 8px;
}
#linkdata {
	display: none;
	padding: 1vw;
}
#linkdataname {
	width: 27vw;
}
#linkdatalink {
	width: 27vw;
}
#positions {
	display: block;
	overflow-y: auto;
	padding: 1vw;
}
.plink input {
	margin-top: 1px;
	padding: 5px;
	width: 50px;
	font-size: 0.8em;
}
.plink {
	display: flex;
	background: #FFFFFF;
}
.pl_edit {
	background: #FFFFFF;
	cursor: pointer;
}
.pl_edit:hover {
	background: #22b2d7;
}
.dpl {
	cursor: pointer;
}
#errora {
	color: #FF0000;
	font-size: 12px;
}
#errorb {
	color: #FF0000;
	font-size: 12px;
}
#intro {
	padding: 3vw;
}
.bmoption{
	padding: 5px;
	cursor: pointer;
}
.bmoption:hover {
	background: #00000044;
}